body {
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 18px;
  overflow: hidden;
  transition-duration: 1s;
}

input {
  flex: 1;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 15px;
  background-color: #444;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

textarea {
  min-width: 400px;
  min-height: 100px;
  flex: 1;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 15px;
  background-color: #444;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  resize: none;
}

button {
  font-size: 25px;
  padding: 15px;
  background: none;
  color: #fff;
  border: none;
  cursor: pointer;
  transition-duration: 1s;
}

button:hover {
  transition-duration: 1s;
  color: rgb(255, 42, 42);
}

img {
  width: 500px;
  border-radius: 5px;
}

p {
  display: flex;
  align-items: left;
}

p .icon {
  margin-right: 10px;
}

a {
  display: flex;
  align-items: left;
  cursor: pointer;
  transition-duration: 1s;
}

a:hover {
  transition-duration: 1s;
  color: rgb(255, 42, 42);
}

beta {
  font-size: 15px;
  font-weight: 200;
  padding: 10px;
  margin-top: -7px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 15px;
  background-color: orange;
}

::-webkit-scrollbar {
  display: none;
}

.logo {
  position: fixed;
  top: 10px;
  left: 0px;
  height: 10vh;
  width: auto;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

@keyframes moveUp {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.logo:hover {
  animation: moveUp 3s ease-in-out infinite alternate;
}

.chat-container {
  position: absolute;
  bottom: 0px;
  width: 90vw;
  height: auto;
  color: #fff;
  margin: 10px 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip::before {
  content: attr(data-tooltip);
  font-size: 15px;
  white-space: nowrap;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  background-color: #202020;
  color: #fff;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
  visibility: hidden;
}

.tooltip.left::before {
  bottom: 50%;
  left: 0;
  transform: translateY(-50%);
}

.tooltip:hover::before {
  opacity: 1;
  visibility: visible;
}

.chat-history {
  overflow-y: auto;
  max-height: 80vh;
}

.paragraph {
  margin: 8px 0px;
}

.message {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.server .message-sender {
  color: rgb(255, 42, 42);
}

.user .message-sender {
  color: #a7a7a7;
}

.message-bubble {
  background-color: #444;
  color: #fff;
  border-radius: 5px 15px 15px 15px;
  padding: 10px;
  width: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user .message-bubble {
  background-color: #5e5e5e;
}

.chat-input {
  display: flex;
  align-items: center;
}

@-webkit-keyframes fadeinout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loading {
  font-size: 2em;
}

.loading span {
  background: rgb(37, 36, 36);
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-left: 5px;
  will-change: opacity;
  -webkit-animation: fadeinout 1600ms infinite;
  animation: fadeinout 1600ms infinite;
}

.loading span:nth-child(1) {
  -webkit-animation-delay: 150ms;
  animation-delay: 150ms;
}

.loading span:nth-child(2) {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

.loading span:nth-child(3) {
  -webkit-animation-delay: 450ms;
  animation-delay: 450ms;
}

.icon-settings {
  color: white;
  position: fixed;
  right: 20px;
  top: 20px;
  font-size: 28px;
  cursor: pointer;
  transition-duration: 1s;
}

.icon-settings:hover {
  transition-duration: 1s;
  color: rgb(255, 42, 42);
}

.menu-settings {
  z-index: 100;
  position: absolute;
  top: 10px; 
  right: 10px; 
  border-radius: 15px;
  overflow: scroll;
  max-height: 50px;
  max-width: 50px;
  background-color: #5e5e5e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease-out;
}

.menu-settings > div {
  visibility: hidden;
}

.menu-settings.open {
  max-height: 300px;
  max-width: 600px;
  color: white;
  padding: 20px;
  transition: 0.5s ease-in;
}

.menu-settings.open > div {
  visibility: visible;
}

.icon-npc {
  color: white;
  position: fixed;
  right: 20px;
  top: 90px;
  font-size: 28px;
  cursor: pointer;
  transition-duration: 1s;
}

.icon-npc:hover {
  transition-duration: 1s;
  color: rgb(255, 42, 42);
}

.icon-impai-head {
  position: fixed;
  width: 50px;
  height: auto;
  border-radius: 15px;
  transition-duration: 1s;
}

.icon-impai-head:hover {
  background: rgb(255, 42, 42);
  border-radius: 15px;
  transition-duration: 1s;
}

.menu-npc {
  z-index: 99;
  position: absolute;
  top: 80px; 
  right: 10px; 
  border-radius: 15px;
  overflow: scroll;
  max-height: 50px;
  max-width: 50px;
  background-color: #5e5e5e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease-out;
}

.menu-npc > div {
  visibility: hidden;
}

.menu-npc.open {
  max-height: 300px;
  max-width: 500px;
  color: white;
  padding: 20px;
  transition: 0.5s ease-in;
}

.menu-npc.open > div {
  visibility: visible;
}

.align-items {
  display: flex;
  flex-direction: row;
}

.align-items p {
  margin: 10px;
}

.align-items input {
  width: 50px;
}

.icon {
  width: 30px;
  height: auto;
  margin: -15px 0px;
}

.create-npc {
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
  background-color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition-duration: 1s;
}

.create-npc:hover {
  transition-duration: 1s;
  color: rgb(255, 42, 42);
}

.icon-user {
  padding: 0px 10px;
}